<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>

<main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
       
        <div class="container">
                
            <div class="d-flex align-items-center flex-column" >
            <H2 class="m-5">Lista della Spesa</H2>
                <ul>
                    <li v-for="(item, index) in shoppingList" :key="index" :class="item.done ? 'done' : ''"
                    >
                        {{ item.text }} 

                        <span @click="removeItem(index)">x</span>
                    </li>

                    <input type="text" v-model="newItemText" placeholder="Nuovo elemento" class="form-control mt-5"  @keyup.enter="newItem(newItemText)">
                </ul>
                        
            </div>
        
        </div>
        
    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="js/script.js"></script> 

</body>
</html>
